*.pyc
.DS_Store
.vscode/
logs/
templates/
processed/
benchmark/data/
benchmark/prism_processed_files/
benchmark/joblist_001-045_20260223.tar.gz
benchmark/scripts/pre_scripts
template_old/
template.zip
benchmark/prism_processed_results/prism_score_env/
benchmark/originals/benchmark5.5/benchmark/originals/benchmark5.6/
new_template/
benchmark/originals/benchmark5.5
benchmark/scripts/benchmark/
benchmark/scripts/__pycache__/
